# Initial migrations will be generated locally. After pulling, run:
# python manage.py makemigrations
# python manage.py migrate

Environment variables (example):

DJANGO_SECRET_KEY=replace-me
DB_NAME=bale_db
DB_USER=bale_user
DB_PASSWORD=changeme
DB_HOST=localhost
DB_PORT=3306
BALE_BOT_TOKEN=your_bale_bot_token_here
BALE_CARD_NUMBER=6219861986186236
